In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('../data/sensor_data.csv')
data

,sensor_id,timestamp,pH,turbidity,dissolved_oxygen,temperature
0,SENSOR_005,2023-01-01 00:00:00,6.48,2.43,7.87,21.81
1,SENSOR_017,2023-01-01 00:30:00,7.04,4.39,7.49,18.51
2,SENSOR_010,2023-01-01 01:00:00,6.69,3.78,6.90,20.96
3,SENSOR_009,2023-01-01 01:30:00,6.50,2.42,9.38,22.22
4,SENSOR_001,2023-01-01 02:00:00,7.75,2.72,9.32,21.26
...,...,...,...,...,...,...
995,SENSOR_007,2023-01-21 17:30:00,6.61,3.12,10.25,14.41
996,SENSOR_019,2023-01-21 18:00:00,6.89,2.62,6.44,20.94
997,SENSOR_002,2023-01-21 18:30:00,6.73,3.36,7.92,21.93
998,SENSOR_007,2023-01-21 19:00:00,6.68,1.55,5.19,18.06
999,SENSOR_020,2023-01-21 19:30:00,6.86,2.95,9.49,20.56

In [6]:
data.isnull().sum()

sensor_id           0
timestamp           0
pH                  0
turbidity           0
dissolved_oxygen    0
temperature         0
dtype: int64

No missing values

In [7]:
data.dtypes

sensor_id            object
timestamp            object
pH                  float64
turbidity           float64
dissolved_oxygen    float64
temperature         float64
dtype: object

set timestamp to datetime

In [8]:
data.timestamp = pd.to_datetime(data.timestamp)
data.dtypes

sensor_id                   object
timestamp           datetime64[ns]
pH                         float64
turbidity                  float64
dissolved_oxygen           float64
temperature                float64
dtype: object

In [9]:
data.describe()

                pH   turbidity  dissolved_oxygen  temperature
count  1000.000000  1000.00000        1000.00000  1000.000000
mean      7.009950     3.01098           7.95224    21.867860
std       0.493966     0.99180           1.55416     2.863409
min       5.280000    -0.10000           2.49000    13.730000
25%       6.687500     2.37000           6.91750    19.930000
50%       7.020000     3.01000           7.92500    21.860000
75%       7.350000     3.70000           8.95000    23.787500
max       8.460000     6.81000          12.90000    29.810000

In [4]:
data[data.turbidity < 0]

,sensor_id,timestamp,pH,turbidity,dissolved_oxygen,temperature
506,SENSOR_009,2023-01-11 13:00:00,7.43,-0.1,6.81,21.68

Water turbidity should not be negative; set negative turbidity values to 0

In [5]:
data.loc[data.turbidity < 0, 'turbidity'] = 0

In [6]:
data[data.turbidity < 0]

Empty DataFrame
Columns: [sensor_id, timestamp, pH, turbidity, dissolved_oxygen, temperature]
Index: []